@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  background-color: #000916;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-size: 35px 35px;
  color: #fff;
}

.grid {
  @apply flex flex-col items-center rounded-8 border-neutral-100 border-solid border-[1px];
}

button {
  transition: all 0.4s ease;
}
/* Small devices (landscape phones, 576px and up) */

@media (max-width: 494px) {
  .burguer-response {
    display: none;
  }
  .main-2 {
    width: 100%;
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
  .group-button-root {
    width: 100% !important;
  }
  .group-button-list {
    width: 100% !important;
    flex-direction: column !important;
  }
  .group-button {
    border: 1px solid #9d9aad !important;
    width: 100% !important;
  }
  .my-projects-responsive {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .group-button {
    width: 100% !important;
  }
  .card-project-responsive {
    width: 100% !important;
  }
}
@media (max-width: 576px) {
  .burguer-response {
    display: none;
  }
  .main-2 {
    width: 100%;
    padding-left: 14px !important;
    padding-right: 14px !important;
  }

  #radix-\:R52m\:-trigger-tab1 {
    width: 100% !important;
  }
  #radix-\:R52m\:-trigger-tab2 {
    width: 100% !important;
  }
  #radix-\:R52m\:-trigger-tab3 {
    width: 100% !important;
  }
  #radix-\:R52m\:-trigger-tab4 {
    width: 100% !important;
  }
  #radix-\:R52m\:-trigger-tab6 {
    width: 100% !important;
  }
}
@media (max-width: 992px) {
  .main-2 {
    width: 100%;
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
  .group-button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .group-button-list-projects {
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between;
  }
  .group-button {
    border: 1px solid #9d9aad !important;
    width: 50% !important;
  }
  .introduction-responsive {
    width: 100%;
  }
  .my-projects-responsive {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-responsive {
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
    gap: 16px;
    margin-bottom: 38px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  /* Insira seu CSS aqui */
  .main-1 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .main-2 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .grid-car-responsive {
    justify-content: center;
  }
  .about-responsive {
    flex-direction: column;
  }
  .about-image-responsive {
    display: none;
  }
  .tex-introduction-responsive {
    width: 100%;
  }
  .image-responsive {
    display: none;
  }
  .introduction-responsive {
    flex-direction: column;

    text-align: center;
  }
  .buttons-responsive {
    width: 100%;
    justify-content: center;
  }
  .card-project-responsive {
    width: 45%;
  }
  .group-button {
    border: 1px solid #9d9aad !important;
    width: 100%;
  }
  .cord-responsive-corses {
    width: 100% !important;
  }
  .card-experience-responsive {
    flex-direction: column !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Insira seu CSS aqui */
  .main-1 {
    width: 100%;
  }
  .main-2 {
    width: 1600px;
    margin: 0 auto;
    /* padding-left: 40px;
    padding-right: 40px; */
  }
  .group-button {
    border: 1px solid #9d9aad !important;
    width: 100%;
  }
}

/* Extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
  /* Insira seu CSS aqui */
  .group-button {
    border: 1px solid #9d9aad !important;
    width: 100%;
  }
}
