@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  @apply flex flex-col items-center rounded-8 border-neutral-100 border-solid border-[1px];
}
.custom-cursor {
  cursor: url("/cursor.png"), auto;
}

/* Extra small devices (phones, 375px and up) */
@media (min-width: 375px) {
  .main-2 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .grid-car-responsive {
    justify-content: center;
  }
  .about-responsive {
    flex-direction: column;
  }
  .about-image-responsive {
    display: none;
  }
  .tex-introduction-responsive {
    width: 100%;
  }
  .image-responsive {
    display: none;
  }
  .introduction-responsive {
    flex-direction: column;

    text-align: center;
  }
  .buttons-responsive {
    width: 100%;
    justify-content: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Insira seu CSS aqui */
  .main-2 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .grid-car-responsive {
    justify-content: center;
  }
  .about-responsive {
    flex-direction: column;
  }
  .about-image-responsive {
    display: none;
  }
  .tex-introduction-responsive {
    width: 100%;
  }
  .image-responsive {
    display: none;
  }
  .introduction-responsive {
    flex-direction: column;

    text-align: center;
  }
  .buttons-responsive {
    width: 100%;
    justify-content: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  /* Insira seu CSS aqui */
  .main-2 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .grid-car-responsive {
    justify-content: center;
  }
  .about-responsive {
    flex-direction: column;
  }
  .about-image-responsive {
    display: none;
  }
  .tex-introduction-responsive {
    width: 100%;
  }
  .image-responsive {
    display: none;
  }
  .introduction-responsive {
    flex-direction: column;

    text-align: center;
  }
  .buttons-responsive {
    width: 100%;
    justify-content: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Insira seu CSS aqui */
  .main-2 {
    width: 1112px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* Extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
  /* Insira seu CSS aqui */
}
