.card {
  cursor: default !important;
  @apply flex whitespace-nowrap text-brand-500 rounded-4 gap-[4px] p-8 px-16 justify-center items-center w-[auto] h-[40px] border border-brand-500 border-t-[1px] shadow-customDark;
}
.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll-content {
  cursor: default !important;
  display: flex;
  width: max-content;
  gap: 16px !important;
  animation: scroll-left 30s linear infinite;
}

.scroll-content::before,
.scroll-content::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  display: flex;
  white-space: nowrap;
}

.scroll-content::before {
  right: 100%;
}

.scroll-content::after {
  left: 100%;
}

/* .scroll-content:hover {
  animation-play-state: paused;
} */

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-item {
  padding: 10px;
  background-color: #ddd;
  margin-right: 10px;
}
